$lightblue: #c5dce7;
$darkblue: #0b1a39;
$lightgreen: #90ee90;

html {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Hind Vadodara', sans-serif;
}

body	{
  background:url(/img/planets-and-mountain-range.jpg) top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header {
  min-height: 100vh;
  color: $lightblue;
  display: flex;
  align-items: center;
  text-shadow: 3px 3px black;
  #sub-title {
    text-shadow: 2px 2px black;
  }
  .icon-title {
    text-shadow: 2px 2px black;
  }
}

footer {
  text-align: left;
  padding: 15px 15px;
}

footer p {
  display: inline;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  text-align: right;
  font-size: 30px;
  padding-right: 40px;
  text-shadow: 2px 2px black;
}

#navbar-row {
  font-family: 'Iceland', cursive;
  margin: 10px 0;
}

.nav-background-color {
  background-color: rgba(11, 26, 57, 0.8); //$darkblue
}

.nav-link {
  color: $lightblue;
  display: inline;
  margin: auto 10px;
  opacity: 0.7;

  &:visited {
    text-decoration: none;
    color: $lightblue;
  }
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: $lightblue;
  }
}

.site-section {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.background1 {
  background-color: $lightblue;
  color: $darkblue;
}

.background2 {
  background-color: $darkblue;
  color: $lightblue;
}

.section-title {
  font-size: 130px;
  margin: 0;
  font-family: 'Iceland', cursive;

  &#story-title {
    margin: 5vh 0;
  }
  &#skill-title {
    margin: 5vh 0;
  }
  &#project-title {
    padding-top: 5vh;
  }
}

.individual-project-title {
  font-family: 'Iceland', cursive;
  font-size: 45px;
}

#sub-title {
  font-family: 'Iceland', cursive;
  font-size: 50px;
  margin: 0 0 5vh 0;
}

#story-section {
  justify-content: center;
}

#story-text {
  text-align: left;
  max-width: 700px;
  margin: 0 3vh 5vh 3vh;
  padding: 0;
  p {
    margin-bottom: 20px;
  }
}

.skill-list-title {
  font-family: 'Iceland', cursive;
  font-size: 40px;
  margin-top: 0px;
  text-decoration: underline;
}

#clientside-skills {
  margin-right: 50px;
}

.skill-list {
  display: flex;
  justify-content: center;
  font-size: 26px;
}

#skill-section {
  justify-content: center;
}

#skill-container {
  margin-bottom: 5vh;
}

#projects-section hr {
  border-width: 2px;
  border-color: $darkblue;
}

.individual-project {
  padding: 5vh 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.project-text {
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 300px;
  max-width: 700px;
  font-size: 20px;
  margin: 0 3vh;
}

.project-text h1 {
  text-align: left;
}

.media {
  flex-basis: 560px;
  flex-shrink: 0;
  height: 315px;
  margin: 0 3vh;
}

.project-description {
  text-align: left;
  p {
    margin-bottom: 20px;
  }
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

#icons {
  margin-top: 40px;
}

.icon {
  font-size: 100px;
  color: $lightblue;
  &#email-icon, &#resume-icon {
    font-size: 85px;
  }

  &:focus {
    color: $lightblue;
  }
  &:hover {
    border-style: solid;
    border-width: 5px;
    border-color: $lightblue;
    border-radius: 50%;
    padding: 5px 20px;
    color: $lightblue;
    &#email-icon {
      padding: 10px 20px;
    }
    &#resume-icon {
      padding: 12px 25px;
    }
  }
}

.icon-title {
  font-family: 'Iceland', cursive;
  font-size: 40px;
}

.link-button {
  font-family: 'Iceland', cursive;
  font-size: 28px;
  padding: 7px;
  border-style: solid;
  border-radius: 25px;
  border-color: $darkblue;
  background-color: $lightblue;
  color: $darkblue;
  &:visited {
    text-decoration: none;
    color: $darkblue;
  }
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background-color: $darkblue;
    color: $lightblue;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    text-align: center;
    padding-right: 0px;
  }
  #clientside-skills {
    margin-right: 10vw;
  }
}
