html {
  box-sizing: border-box;
  font-family: 'Hind Vadodara', sans-serif; }

body {
  background: url(/img/alpin-river.jpg) top left no-repeat;
  background-size: cover;
  background-attachment: fixed; }

header {
  height: 100vh;
  color: #D3DE90;
  text-shadow: 3px 3px black; }

section {
  font-size: 20px;
  height: 100vh; }

.background1 {
  background-color: #1D200B;
  color: #D3DE90; }

.background2 {
  background-color: #D3DE90;
  color: #1D200B; }

.section-title {
  text-align: center;
  font-size: 100px; }

.sub-title {
  font-size: 50px;
  text-align: center; }

.logo {
  width: 100px; }

.icon {
  font-size: 100px;
  color: #94D3FF; }
  .icon:focus {
    color: #94D3FF; }
  .icon:hover {
    color: #223E52; }

.icon-section {
  text-align: center; }

p.icon-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0; }

.link-button {
  font-size: 23px;
  padding: 10px;
  border-style: solid;
  border-radius: 25px;
  border-color: #94D3FF;
  background-color: #223E52;
  color: #94D3FF; }
  .link-button:visited {
    text-decoration: none;
    color: #94D3FF; }
  .link-button:focus {
    text-decoration: none; }
  .link-button:hover {
    text-decoration: none;
    border-color: #223E52;
    background-color: #94D3FF;
    color: #223E52; }
