html {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Hind Vadodara', sans-serif; }

body {
  background: url(/img/planets-and-mountain-range.jpg) top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header {
  min-height: 100vh;
  color: #c5dce7;
  text-shadow: 3px 3px black;
  display: flex;
  align-items: center; }

.site-section {
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center; }

.background1 {
  background-color: #c5dce7;
  color: #0b1a39; }

.background2 {
  background-color: #0b1a39;
  color: #c5dce7; }

.section-title {
  font-size: 100px;
  margin: 0; }
  .section-title#story-title {
    padding-bottom: 10vh; }
  .section-title#skill-title {
    padding-bottom: 2vh; }

#story-text {
  text-align: left; }
  #story-text p {
    margin-bottom: 20px; }

.skill-list-title {
  font-size: 30px;
  text-decoration: underline; }

#clientside-skills {
  margin-right: 50px; }

.skill-list {
  display: flex;
  justify-content: center;
  font-size: 26px; }

#skill-section {
  display: flex;
  justify-content: center; }

.single-project {
  padding-top: 8vh;
  padding-bottom: 5vh;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center; }

.project-text {
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 300px;
  font-size: 20px; }

.video {
  flex-basis: 560px;
  height: 315px; }

.project-description {
  text-align: left;
  padding-left: 6vh;
  padding-right: 2vh; }
  .project-description p {
    margin-bottom: 20px; }

.logo {
  width: 100px;
  margin-bottom: 10px; }

#icons {
  margin-top: 40px; }

.icon {
  font-size: 100px;
  color: #c5dce7; }
  .icon:focus {
    color: #c5dce7; }
  .icon:hover {
    color: #0b1a39; }

.icon-title {
  font-size: 30px; }

.link-button {
  font-size: 23px;
  padding: 10px;
  border-style: solid;
  border-radius: 25px;
  border-color: #0b1a39;
  background-color: #c5dce7;
  color: #0b1a39; }
  .link-button:visited {
    text-decoration: none;
    color: #0b1a39; }
  .link-button:focus {
    text-decoration: none; }
  .link-button:hover {
    text-decoration: none;
    background-color: #0b1a39;
    color: #c5dce7; }
